#wiz {
	margin-top: 40px;
}

.step-content {
	border: 1px solid #D4D4D4;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	height: 442px;
	padding: 10px;
	margin-bottom: 10px;
}



/* ==== MAP VIEW ========================== */

#map-container {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 915px;
	height: 400px;
	max-height: 400px;
}

#map-canvas {
	height: 100%;
	margin: 0px;
    padding: 0px;
}

.map-sidebar {
	background-color: #FFFFFF !important;
	height: 360px;
	width: 205px;
	float: right;
}

#spinner-label {
	padding-top: 4px;
	margin-right: 10px;
}

#spinner-label label {
	font-weight: bold;
	font-size: 16px;
}
#spinner-label #label-desc {
	font-size: 12px;
	position: relative;
	top: -10px;
	font-style: italic;
	font-family: times;
}


/* ==== KEYWORK VIEW ====================== */

#add-keyword-label input {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}


.pillbox {
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 910px;
	padding: 20px;
	height: 394px;
	max-height: 394px;
    overflow: auto;
}

.fuelux .pillbox li {
	font-size: 24px;
	padding: 8px;
	margin: 5px;
}

#no-keywords {
	font-size: 52px;
	margin: 136px auto 0 auto;
	text-align: center;
	color: #eee;
	font-weight: bold;
}


/* ==== CONFIRM VIEW ====================== */

#locMap {
	width: 400px;
	height: 260px;
}




/* ==== BRAND COLORS ====================== */

.fuelux .pillbox li.et-green {
    background-color: #7AB800;
}

.fuelux .pillbox li.et-purple {
    background-color: #B382C7;
}

.fuelux .pillbox li.et-orange {
    background-color: #FFA100;
}

.fuelux .pillbox li.et-blue {
    background-color: #65CFE9;
}
